/*a la etiqueta div le pongo un padding de 20*/ 
/*padding: hace espaciados internos entre un elemtno y el otro*/

body{
    margin: 0px;
    background-color: aliceblue; /*cambia el color de toda la página*/
    background-image: image();
    margin-left: 20%;
    margin-right: 20%;
    /*border: 2px dotted black*/ /*le da un borde a la pagina, los 2px le da el grosor o agranda el borde, si le pongo 0 se lo saca*/
    padding: 10px 10px 1opx 10px; /*espacio que hay entre el borde y el contenido*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*cambias la letra del texto*/
}
div{
    padding: 20px;
}

#main{
    background-color: bisque;
}

 nav{
    background-color: rgba(157, 250, 153, 0.945);
    display: flex; /*hizo que los puntitos se vayan al costado*/
    flex-direction: row; /* especifica cómo colocar los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección*/
    height: 110px; /* especifica la altura de un elemento*/
 }

 /*flex te lo transforma hacia al costado, llenar espacios*/

 nav ul{
    display: flex;
 }

 nav li{
    margin-left: 20px;
    list-style: none; /*para sacar el punto que tenia uso esto*/
 }

 nav a {
    text-decoration: none;      /*para sacar las lineas abajo de inicio, sobrenos y contacto*/
    color: rgb(0, 0, 0);             /*para ponerle color a los links*/
    
 }

 nav img{
    display: flex;
    max-height: 100px;   /*para achicar el ancho del logo*/
    width: auto;            
 }

 .menuButton{
    display: flex; /*indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible.*/
    /*align-items: center;*/
    /*background-color: rgb(223, 170, 183);  si quiero que la cajita de inicio y eso este en rosa*/
    justify-content: flex-end;
    width: 100%; /*agranda el tamaño de la caja superior añ 100%*/
 }

nav a:hover{color: brown} /*para que cuando toco incio, sobrenos aparezca en marron*/

#elixirs {
   /*saca toda una div del flujo de navegación y en este caso te lo mueve hacia la derecha con un borde*/
   border: thin solid;
   width: 200px;
   padding: 0px 20px 20px 20px;
   margin-left: 20px;
   text-align: center;
   background-image: none;
   background-repeat: repeat-x;
   line-height: 1;
   float: right;

}



 




